.tabs-wrapper {
  button.nav-link {
    color: var(--basic-color-dark);
    border-bottom: none;
  }

  button.nav-link.active {
    color: var(--darker-prim-color);
    background-color: var(--basic-color-white);
    font-weight: 600;
  }
}
