.tabs-wrapper {
  button.nav-link {
    color: var(--sec-color);
    border-bottom: none;
  }

  button.nav-link.active {
    color: var(--prim-color);
    background-color: var(--active-tab-color);
  }
}
