.page {
  box-shadow: 0 1px 3px var(--shadow-color1), 0 1px 2px var(--shadow-color2);
  background-color: var(--basic-color-white);
  border-radius: 4px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;

  @include mobile {
    margin-top: -10px;   
    margin-bottom: -10px;   
    margin-left: -20px;
    margin-right: -20px;    
    padding: 10px;
  }

  @include tablet {
    margin-left: 45px;
    margin-right: 45px;
    padding: 20px;
  }
}